:root {
    --border-color: #D5E3F0; 
    --radio-bg: #2699D4;
    --disabled-border: #ABBCD1;
    --disabled-bg: #D5E3F0;
    --error-border: #EC6A71;
    --error-bg: #FDECED;
    --alert-border: #F3AF52;
    --alert-bg: #FDF5E9;
}